In [1]:
import pandas as pd
import datetime

In [2]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days = x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2020-09-10 16:28:59.933611
1  2020-09-09 16:28:59.933611
2  2020-09-08 16:28:59.933611
3  2020-09-07 16:28:59.933611
4  2020-09-06 16:28:59.933611
5  2020-09-05 16:28:59.933611
6  2020-09-04 16:28:59.933611
7  2020-09-03 16:28:59.933611
8  2020-09-02 16:28:59.933611
9  2020-09-01 16:28:59.933611
10 2020-08-31 16:28:59.933611
11 2020-08-30 16:28:59.933611
12 2020-08-29 16:28:59.933611
13 2020-08-28 16:28:59.933611
14 2020-08-27 16:28:59.933611
15 2020-08-26 16:28:59.933611
16 2020-08-25 16:28:59.933611
17 2020-08-24 16:28:59.933611
18 2020-08-23 16:28:59.933611
19 2020-08-22 16:28:59.933611

In [3]:
# extract the week day mame 

df['day_of_week'] = df['day'].dt.weekday_name
df.head()

                         day day_of_week
0 2020-09-10 16:28:59.933611    Thursday
1 2020-09-09 16:28:59.933611   Wednesday
2 2020-09-08 16:28:59.933611     Tuesday
3 2020-09-07 16:28:59.933611      Monday
4 2020-09-06 16:28:59.933611      Sunday

In [4]:
weekday_map = {'Monday':1,
              'Tuesday':2,
              'Wednesday':3,
              'Thursday':4,
              'Friday':5,
              'Saturday':6,
              'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2020-09-10 16:28:59.933611    Thursday            4
1  2020-09-09 16:28:59.933611   Wednesday            3
2  2020-09-08 16:28:59.933611     Tuesday            2
3  2020-09-07 16:28:59.933611      Monday            1
4  2020-09-06 16:28:59.933611      Sunday            7
5  2020-09-05 16:28:59.933611    Saturday            6
6  2020-09-04 16:28:59.933611      Friday            5
7  2020-09-03 16:28:59.933611    Thursday            4
8  2020-09-02 16:28:59.933611   Wednesday            3
9  2020-09-01 16:28:59.933611     Tuesday            2
10 2020-08-31 16:28:59.933611      Monday            1
11 2020-08-30 16:28:59.933611      Sunday            7
12 2020-08-29 16:28:59.933611    Saturday            6
13 2020-08-28 16:28:59.933611      Friday            5
14 2020-08-27 16:28:59.933611    Thursday            4
15 2020-08-26 16:28:59.933611   Wednesday            3
16 2020-08-25 16:28:59.933611     Tuesday            2
17 2020-08-24 16:28:59.933611      Monday            1
18 2020-08-23 16:28:59.933611      Sunday            7
19 2020-08-22 16:28:59.933611    Saturday            6